
body {
  background-color: #00008B;
  background-image: url("../img/sphere.gif");
  background-size: cover;
}

h1, h2, h3 {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  word-spacing: 0.5em;
  font-family: "Times New Roman",sans-serif;
  padding-bottom: 0;
  margin-bottom: 0.25em;
  color: white;
}

h1 {
  font-size: 3.5vw;
}
h2 {
  font-size: 2.5vw;
}
h3 {
  font-size: 1.5vw;
}

p {
  margin-top: 0;
  color: white;
  font-family: "Times New Roman",sans-serif;
}

.minor-section {
  padding: 1px 20px;
  margin: 10px;
  background-color: #DDCDC7;
}

nav a {
  color: white;
  text-transform: uppercase;
  font-size: 110%;
  text-decoration: none;
  font-family: "Times New Roman",sans-serif;
}

#sidebar {
  float: right;
  margin: 20px;
  width: 25%;
  min-width: 150px;
  border: dashed 5px skyblue;
  background-color: white;
}
