
body {
  background-color: #4ff0ec;
  background-image: url("../img/cat.gif");
  background-size: cover;
}


.gradient {
  background-image:
    linear-gradient(to right, #acc756, #323d10);
}

img {
  filter: grayscale(100%)
}

imgb {
  background:url(img_pumpkin.gif);
  background-size: 100px 80px;
  background-repeat: no-repeat;
}



.objectfit {
 object-fit: cover;
}

b {
background-image: url("img_skull.jpeg"), url("pumpkin.gif");
background-position: right bottom, left top;
background-repeat: no-repeat, repeat;
}

.b {
  width: 100px;
  height: 100px;
  transition: width 2s, height 4s;
  transition: background-color: DDCDC7; 5s;
}
.div:hover {
  width: 300px;
}

div b {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
}

h1, h2, h3 {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  word-spacing: 0.5em;
  font-family: "Creepster",sans-serif;
  padding-bottom: 0;
  margin-bottom: 0.25em;
  color: white;
}

div {
  box-shadow: 8px 8px 8px orange;
}


h1 {
  font-size: 5vw;
  text-shadow: 8px 8px 8px orange;
}

h2 {
  font-size: 2.5vw;
}
h3 {
  font-size: 1.5vw;
}

p {
  margin-top: 0;
  color: white;
  font-family: "Creepster",sans-serif;
}

.minor-section {
  padding: 1px 20px;
  margin: 10px;
  background-color: #DDCDC7;
}

nav a {
  color: white;
  text-transform: uppercase;
  font-size: 110%;
  text-decoration: none;
  font-family: "Creepster",sans-serif;
}

nav a:hover {
   text-decoration: underline;
 }

 .roundcorners {
 border-radius: 30px;
 border: 10px solid #73AD21;
 }

 .transform {
 transform: translate(100px, 200px);
 transform: rotate(15deg);
}


img {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: 3;
}

@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

.newspaper {
  column-count: 3;
}
